html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: #657180;
    font-size: 16px;
}
::-webkit-scrollbar{
    display:none;
}
.file-menu{
    width: 150px;
    position: fixed;
    top: 150px;
    bottom: 0;
    left: 0;
    overflow: auto;
    background: #f5f7f9;
}
.file-menu-item{
    font-size: 18px;
    text-align: center;
    margin: 5px 0;
    padding: 10px 0;
    cursor: pointer;
    border-right: 2px solid transparent;
    transition: all .3s ease-in-out;
}
.file-menu-item:hover{
    background: #e3e8ee;
}
.file-menu-item.on{
    border-right: 2px solid #3399ff;
}

.file-menu ul{
    list-style: none;
}
.file-menu ul li a{
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 5px 0;
    margin: 5px 0;
    cursor: pointer;
}
.file-menu ul li a:hover, .file-menu ul li a.on{
    color: #3399ff;
}
.file-item-recommend{
    /*margin-left: 0px;*/
    display: block;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.file-introduction-main{
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    margin-inline-start: 40px;

}
.file-item:hover{
    background: #e3e8ee;
}
.file-list{
    width: 70%;
    position: relative;
    top: 5%;
    bottom: 0;
    margin-left: 6%;
    overflow: auto;

}
.knowledgeIcon{
    position: fixed;
    top: 10%;
    left: 85%;
    width: 14%;
    height: auto;
    overflow: auto;
}
.file-date{
    text-align: center;
    margin: 10px 0;
}
.file-item{
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.file-item:hover{
    background: #e3e8ee;
}
.file-img{
    width: 60px;
    height: 60px;
    float: left;
}
.file-img img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.file-title{
    width: 150px;
    padding: 0px 0px 5px 90px;
    font-family: "等线 Light";
    color: #0b0b0b;
 }
.file-title.noImg{
    padding-left: 5px;

}
.file-introduction{
    padding: 5px 0px 10px 30px;
    font-family: "黑体";
    font-size: smaller;
    color:#99a9bf;
}
.file-introduction.noImg{
    padding-left: 5px;
}
.file-information{
    padding: 0px 0px 10px 90px;
    font-size:smaller;

}
.file-information-noImg{
    padding-left: 5px;
}

.file-details{
    margin-left: 350px;
    padding: 20px;
}
.file-details-title{
    font-size: 28px;
    font-weight: bold;
    color: #222;
    padding: 10px 0;
}

.view-more a{
    display: block;
    cursor: pointer;
    background: #f5f7f9;
    text-align: center;
    color: inherit;
    text-decoration: none;
    padding: 4px 0;
    border-radius: 3px;
}

.file-comments{
    margin: 10px 0;
}
.file-comments span{
    display: block;
    margin: 10px 0;
    font-size: 20px;
}
.file-comment{
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #e3e8ee;
}
.file-comment-avatar{
    width: 50px;
    height: 50px;
    float: left;
}
.file-comment-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
.file-comment-content{
    margin-left: 65px;
}
.file-comment-name{

}
.file-comment-time{
    color: #9ea7b4;
    font-size: 14px;
    margin-top: 5px;
}
.file-comment-text{
    margin-top: 10px;
}
